backup/
part1/__pycache__/
part1/datasets/
part1/*/*/*

!part1/*/*/settings.json
!part1/*/*/train_stats
!part1/*/*/test_stats

part2/__pycache__/
part2/datasets/
part2/exps/
part2/exps_adam/
part2/exps_adamw/
part2/exps_sgdm/
part2/exps_backup/
part3/__pycache__/
part3/datasets/
part3/exps/
part3/exps_adam/
part3/exps_adamw/
part3/exps_sgdm/
part3/sidequest/
